<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Waitlist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="header">
        <nav>
            <h3>🛎️Kasata Restaurant</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <h1>Welcome to Kasata!</h1>
        <p>Join the waitlist and get ready for your table.</p>
        <form id="waitlist-form">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="party_size">Party Size:</label>
            <input type="number" id="party_size" name="party_size" required>

            <label for="phone">Phone Number:</label>
            <input type="tel" id="phone" name="phone" required pattern="\+[0-9]{1,3}[0-9]{10}">

            <button type="submit">Join Waitlist</button>
        </form>
        
        <div id="response-message"></div>

        <div class="popup" id="popup" style="display: none;">
            <p id="popupMessage">Thank you! You have been removed from the waitlist. Please visit again!</p>
        </div>
    </div>

    <script>
        document.getElementById('waitlist-form').onsubmit = async function(event) {
            event.preventDefault();  // Prevent the default form submission behavior

            const name = document.getElementById('name').value;
            const phone = document.getElementById('phone').value;
            const party_size = document.getElementById('party_size').value;

            const response = await fetch('/waitlist', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    name: name,
                    phone: phone,
                    party_size: party_size
                })
            });

            const result = await response.json();

            if (response.ok) {
                // Redirect to the waitlist page with the user's name and position
                window.location.href = `/join_waitlist?name=${encodeURIComponent(result.name)}&position=${result.position}`;
            } else {
                document.getElementById('response-message').innerHTML = `<p>Error: ${result.message}</p>`;
            }
        }
    </script>
</body>
</html>